/*** Reseteo de Propiedades ***/
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;/*** Esto es para que si hay padding y border se incluya dentro del calculo (no se salga si pongo el % ajustado sin tener que tener en cuenta bordes)***/
}

/************ LAYOUT  ************/
/************* display/position/float **************/
/******* height/width/padding/border/margin ********/

/****** CONTAINER *******/
#container{
    display: flex;
    flex-direction: column;
    max-width: 1000px;
    margin: auto;
    height: 100%;
}
/********* Common to every menu **********/
#sencillo, #iconos, .desplegable{
    display: flex;
    flex-direction: column;
    text-align: center;
}
ul li ul{ /* SubMenús dentro de otros menús */
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}
li, h1{
    padding: 15px;
}

/********** SENCILLO **********/
#sencillo li{
    display: flex;
    justify-content: center;
}

/********** ICONOS **********/
#iconos li a div{
    display: none;
}

/*********** REDES **********/
.redes{
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
}
.redes li{
    padding: 15px;
}
/***** DROPDOWN + REDES *****/
#doble{
    display: flex;
    justify-content: space-between;
}

/************ STYLE  ************/
/******************** Propiedades Generales *****************/
ul, section{
    background-color: #3f51b5;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
    color: white;
}
p{
    color: white;
}
li:hover{ /* Enlaces normales */
    background-color: #1a2770;
}
li ul li:hover{ /* Enlaces de los submenús */
    background-color: #ff5e62;
}
ul li:hover > ul, #doble ul li:hover > ul { /* items del menu desplegable al pasar el ratón */
    background-color: #1a2770;
}

/********* BODY *********/
body{
    background: linear-gradient(to right, #ff5e62, #ff9966);
}

/****** CONTAINER *******/
#container{
    background-color: white;
}
#iconos i{
    font-size: 32px;
}


/*** VERSIÓN TABLET ***/
@media (min-width: 480px){

    #iconos{ /* Pasa de Column a Row Wrap */
        flex-direction:row;
        flex-wrap: wrap;
    }
    #iconos li{ /* Le damos 50% del ancho del padre */
        flex-basis: calc(100%/2);
    }
    #iconos li{
        display: flex;
        justify-content: center;
    }
    #iconos li a{
        display: flex;
        align-items: center;
    }
    #iconos li a i{
        margin: 15px;
    }
    #iconos li a div{
        display: flex;
        flex-direction: column;
    }
}

/*** VERSIÓN ESCRITORIO ***/
@media (min-width: 768px){

    #container{
        padding: 20px;
        height: 100vh; /* Amplia fondo blanco hasta abajo */
    }
    #sencillo, #iconos, .desplegable{ /* Pasan de column a row */
        flex-direction: row;
        text-align: center;
    }
    #sencillo li{
        flex-basis: calc(100%/6);
    }
    #iconos li, .desplegable li{
        flex-basis: calc(100%/4);
    }
    .desplegable li{ /* Hay que dar Relative al padre de un Absolute */
        position: relative;
    }
    #doble ul{ /* Reparte el espacio en menu doble para no comprimir desplegable */
        flex-grow: 1;
    }
    ul li ul, #doble ul li ul{ /* Submenús desplegables */
        display: none;
        position: absolute;
        width: 100%;
        top: 100%;
        left: 0;
        margin: 0;
    }
    ul li:hover > ul, #doble ul li:hover > ul { /* items del menu desplegable al pasar el ratón */
        display:block;
        background-color: #ff5e62;
    }
}