/*** Reseteo de Propiedades ***/
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;/*** Esto es para que si hay padding y border se incluya dentro del calculo (no se salga si pongo el % ajustado sin tener que tener en cuenta bordes)***/
}

/************ LAYOUT  ************/
/************* display/position/float **************/
/******* height/width/padding/border/margin ********/

/********* BODY *********/

/****** CONTAINER *******/
#container{
    display: flex;
    flex-direction: column;

    max-width: 1000px;
    margin: auto;
}
/********* Common to every menu **********/
#sencillo, #iconos, #desplegable{
    display: flex;
    flex-direction: column;
    text-align: center;
}
ul li ul{ /* SubMenús dentro de otros menús */
    display: flex;
    flex-direction: column;
    text-align: center;
}
li, h1{
    padding: 10px;
}
/******** SENCILLO **********/
#sencillo{

}
/********** ICONOS **********/
#iconos li a{
    display: flex;
    justify-content: space-between;
}
#iconos li a i{
    margin: 10px;
}
/********* DROPDOWN *********/
#desplegable{

}


/*********** REDES **********/
#redes{
    display: flex;
    justify-content: flex-end;
}
#redes li{
    padding: 10px;
}
/***** DROPDOWN + REDES *****/
#doble{
    display: flex;
    justify-content: space-between;
}
#doble-izq, #doble-izq li ul{ /* Menú y Submenú */
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    text-align: left;
}
#doble-dcha{
    display: flex;
    flex-grow: 1;
    justify-content: flex-end;
    align-items: flex-start;
}
#doble-dcha li{
    padding: 10px;;
}


/************ STYLE  ************/
/******************** Propiedades Generales *****************/
ul, nav{
    background-color: #3f51b5;
    /* #1a2770 azul hoover */
    /* #ff5e62 rojo hoover */
}
li{
    list-style: none;
}
a{
    text-decoration: none;
    color: white;
}
li:hover{
    background-color: #1a2770;
}
li ul li:hover{
    background-color: #ff5e62;
}
p{
    color: white;
}

/********* BODY *********/
body{
    background: linear-gradient(to right, #ff5e62, #ff9966);
}
/****** CONTAINER *******/
#container{
    background-color: white;
}

/******** SENCILLO **********/

/********** ICONOS **********/

/********* DROPDOWN *********/

/*********** REDES **********/

/***** DROPDOWN + REDES *****/


/*** VERSIÓN ESCRITORIO ***/
@media (min-width: 768px){

    #container{
        padding: 20px;
    }
}