/*** Reseteo de Propiedades ***/
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;/*** Esto es para que si hay padding y border se incluya dentro del calculo (no se salga si pongo el % ajustado sin tener que tener en cuenta bordes)***/
}

/************ LAYOUT  ************/
/************* display/position/float **************/
/******* height/width/padding/border/margin ********/

/********* BODY *********/

/****** CONTAINER *******/
#container{
    display: flex;
    flex-direction: column;

    max-width: 1000px;
    margin: auto;
    height: 100%;
}
/********* Common to every menu **********/
#sencillo, #iconos, #desplegable{
    display: flex;
    flex-direction: column;
    text-align: center;
}
ul li ul{ /* SubMenús dentro de otros menús */
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 10px;
}
li, h1{
    padding: 15px;
}

#sencillo li{
    display: flex;
    flex-basis: calc(100%/6);
    justify-content: center;
}
/********** ICONOS **********/
#iconos li a{
    display: flex;
    justify-content: center;
    align-items: center;
}
#iconos li a i{
    margin: 15px;
}

/*********** REDES **********/
#redes{
    display: flex;
    justify-content: flex-end;
}
#redes li{
    padding: 15px;
}
/***** DROPDOWN + REDES *****/
#doble{
    display: flex;
    justify-content: space-between;
}
#doble-izq, #doble-izq li ul{ /* Menú y Submenú */
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    text-align: left;
}
#doble-dcha{
    display: flex;
    flex-grow: 1;
    justify-content: flex-end;
    align-items: flex-start;
}
#doble-dcha li{
    padding: 15px;;
}

/************ STYLE  ************/
/******************** Propiedades Generales *****************/
ul, nav{
    background-color: #3f51b5;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
    color: white;
}
p{
    color: white;
}
i{
    font-size: 32px;
}
li:hover{
    background-color: #1a2770;
}
li ul li:hover{
    background-color: #ff5e62;
}
ul li:hover > ul, #doble ul li:hover > ul { /* items del menu desplegable al pasar el ratón */
    background-color: #1a2770;
}

/********* BODY *********/
body{
    background: linear-gradient(to right, #ff5e62, #ff9966);
}

/****** CONTAINER *******/
#container{
    background-color: white;
}

/*** VERSIÓN SOLO ICONOS EN MOVIL A MENOS DE 270px ***/
@media (max-width: 270px){

    #iconos li a div{
        display: none;
    }
}

/*** VERSIÓN TABLET ***/
@media (min-width: 480px){

    #iconos{
        flex-direction: row;
        flex-wrap: wrap;
    }
    #iconos li{
        display: flex;
        flex-basis: calc(100%/2);
    }
    .textoEnlaceConIconos p{
        display: flex;
        flex-wrap: wrap;
    }
}

/*** VERSIÓN ESCRITORIO ***/
@media (min-width: 768px){

    #container{
        padding: 20px;
        height: 100vh;
    }
    #sencillo, #iconos, #desplegable, #doble-izq{
        flex-direction: row;
        text-align: center;
    }
    #sencillo li, #desplegable li{
        flex-grow: 1;
    }
    #iconos li{
        flex-basis: calc(100%/4);
        justify-content: center;
    }
    #desplegable li, nav ul li{
        position: relative;
    }
    ul li ul, #doble ul li ul{ /* Submenús desplegables */
        display: none;
        position: absolute;
        width: 100%;
        top: 100%;
        left: 0;
        margin: 0;
    }
    ul li:hover > ul, #doble ul li:hover > ul { /* items del menu desplegable al pasar el ratón */
        display:block;
        background-color: #ff5e62;
    }
}