@import "_variables.scss";
@import "_mixins.scss";

/*** Reseteo de Propiedades ***/
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Propiedades generales: */
body{
    display: flex;
    flex-direction: column;
    font-family: Raleway, sans-serif;
}
.container{
    @include desktop{
        max-width: $maxWidthContent;
        margin: auto;
    }
}
#portada, #label-portada{
    color: $white-FontColor;
}

/******** HEADER ********/
header{
    display: flex;

    #iconos_header{
        display: flex;
        flex-grow: 1;
        justify-content: space-between;
        padding: $margin;
    }
    #carrito{
        display: none;
    }
}

/******** PORTADA ********/
#portada{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: $margin;
    /* Imagen portada: */
    background-image: url(images/hero.jpg);
    background-size: cover;
    background-position: center;
    height: 400px;

    h1, h5{
        margin: $margin 0;
    }
    #barra_busqueda{
        display: flex;
        align-items: center;

        input{
            display: flex;
            flex-grow: 1;
            padding: calc($margin/2);
        }
        #lupa{
            margin-left: calc($margin*-2);
            height: 70%;
        }
    }
}

#label-portada{
    display: flex;
    background: $bg-portada-gradiente;

    .container{
        display: flex;
        flex-direction: column;
        flex-grow: 1;

        article{
            display: flex;
            flex-direction: row;
            justify-content: flex-start;

            .icono_portada{
                width: 32px;
                margin: $margin;
            }
            .texto_junto_a_icono{
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                flex-grow: 1;
                margin: $margin;
            }
        }
    }
}


/********* MAIN *********/
main{
    display: flex;
    flex-direction: column;
    h2{
        display: flex;
        align-self: center;
    }
    #bloque-cursos{
        display: flex;
        flex-wrap: wrap;

        .curso{
            display: flex;
            flex-direction: column;
            margin: $margin;
            border: solid lightgray 0.5px;

            .texto-curso{
                display: flex;
                flex-direction: column;
                margin: $margin;

                h3, p, img, div{
                    margin-bottom: $margin;
                }
                img{ /* estrellas */
                    display: flex;
                    align-self: flex-start
                }
                #precios{
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                }
                .button{
                    @include boton($color-boton-curso);
                }
            }

            // 1 articulo
            flex: 1 0 calc(95% - $margin);

            @include phone(){ // 2 articulos
                flex: 1 0 calc(45% - $margin);
            }
            @include tablet(){ // 3 articulos
                flex: 1 0 calc(30% - $margin);
            }
            @include desktop(){ // 4 articulos
                flex: 1 0 calc(22% - $margin);
            }
        }
    }
}


/******** FOOTER ********/
footer{
    display: flex;
    background-color: $bg-footer;
    padding: $margin;

    .container{
        display: flex;
        justify-content: flex-start;

        section{
            display: flex;
            flex-direction: column;
            a{
                text-decoration: none;
                color: $white-FontColor;
            }
        }
        section:first-child{
            margin-right: calc($margin*2);
        }
        section:nth-child(2){
            margin-left: calc($margin*2);
        }
    }
}
