@import "_variables.scss";
@import "_mixins.scss";

/*** Reseteo de Propiedades ***/
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Propiedades generales: */
body{
    display: flex;
    flex-direction: column;
    font-family: sans-serif;
}
.container{
    @include desktop{
        max-width: $maxWidthContent;
        margin: auto;
    }
}
#portada, #label-portada{
    color: $white-FontColor;
}

/******** HEADER ********/
header{
    position: relative;
    display: flex;
    width: 100%;

    #iconos_header{
        display: flex;
        flex-grow: 1;
        justify-content: space-between;
        padding: $margin;
    }
    #carrito{
        display: none;
        width: 30%; // ancho contenido carrito compra
    }
    #cart-icon:hover > #carrito{
        display: block;
        position: absolute;
        top: 100%;
        right: $margin;
        padding: 0 $margin $margin;
        background-color: white;

        #fila_compras{
            display: flex;

            & div{
                display: flex;
                flex-direction: column;
                align-items: center;

                img{
                    width: 100%;
                    margin-bottom: 2px;
                }
                p{
                    margin: auto;
                }
            }
        }

        a{
            @include boton($color-boton-carro);
        }
    }
}

/******** PORTADA ********/
#portada{
    display: flex;
    /* Imagen portada: */
    background-image: url(images/hero.jpg);
    background-size: cover;
    background-position: center;
    height: 400px;

    .container{
        display: flex;
        flex-grow: 1;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        padding: $margin;
    }
    h1, h5{
        margin: $margin 0;
    }
    #barra_busqueda{
        display: flex;
        align-items: center;
        width: 100%;

        input{
            display: flex;
            flex-grow: 1;
            padding: calc($margin/2);
        }
        #lupa{
            margin-left: calc($margin*-2);
            height: 70%;
        }
    
        @include tablet(){
            width: 400px;
        }
    }
}

#label-portada{
    display: flex;
    background: $bg-portada-gradiente;

    .container{
        display: flex;
        flex-direction: column;
        flex-grow: 1;

        article{
            display: flex;
            flex-direction: row;
            justify-content: flex-start;

            .icono_portada{
                width: 32px;
                margin: $margin;
            }
            .texto_junto_a_icono{
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                flex-grow: 1;
                margin: $margin;
            }
        }
    }

    @include desktop(){
        .container{
            flex-direction: row;
            justify-content: space-between;
        }
    }
}


/********* MAIN *********/
main{
    display: flex;
    flex-direction: column;
    padding: $margin;
    h2{
        display: flex;
        align-self: center;
    }
    #bloque-cursos{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: flex-start;

        .curso{
            display: flex;
            flex-direction: column;
            margin: $margin 0;
            border: solid lightgray 0.5px;

            // 1 articulo por línea:
            flex: 1 0 calc(100% - $margin);

            @include phone(){ // 2 articulos
                flex: 1 0 calc(50% - $margin);
            }
            @include tablet(){ // 3 articulos
                flex: 0 0 calc(100%/3 - $margin);
            }
            @include desktop(){ // 4 articulos
                flex: 0 0 calc(100%/4 - $margin);
            }

            img{ // Para que se adapte al ancho de la caja padre
                width: 100%;
            }

            .texto-curso{
                display: flex;
                flex-direction: column;
                margin: $margin;

                h3, p, img, div{
                    margin-bottom: $margin;
                }
                img{ /* estrellas */
                    display: flex;
                    align-self: flex-start
                }
                #precios{
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    p{
                        text-decoration:line-through;
                    }
                }
                .button{
                    @include boton($color-boton-curso);
                }
            }
        }
    }
}


/******** FOOTER ********/
footer{
    display: flex;
    background-color: $bg-footer;


    .container{
        display: flex;
        flex-grow: 1;

        section{
            display: flex;
            flex-direction: column;
            flex-grow: 1;
            padding: $margin;
            a{
                text-decoration: none;
                color: $white-FontColor;
            }
            @include desktop(){
                flex: 0 0 25%;
            }
        }
    }
}
