/*** Reseteo de Propiedades ***/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* Propiedades generales: */
body {
  display: flex;
  flex-direction: column;
  font-family: sans-serif;
}

@media only screen and (min-width: 768px) {
  .container {
    max-width: 1200px;
    margin: auto;
  }
}

#portada, #label-portada {
  color: white;
}

/******** HEADER ********/
header {
  position: relative;
  display: flex;
  width: 100%;
}
header #iconos_header {
  display: flex;
  flex-grow: 1;
  justify-content: space-between;
  padding: 1rem;
}
header #carrito {
  display: none;
  width: 30%;
}
header #cart-icon:hover > #carrito {
  display: block;
  position: absolute;
  top: 100%;
  right: 1rem;
  padding: 0 1rem 1rem;
  background-color: white;
}
header #cart-icon:hover > #carrito #fila_compras {
  display: flex;
}
header #cart-icon:hover > #carrito #fila_compras div {
  display: flex;
  flex-direction: column;
  align-items: center;
}
header #cart-icon:hover > #carrito #fila_compras div img {
  width: 100%;
  margin-bottom: 2px;
}
header #cart-icon:hover > #carrito #fila_compras div p {
  margin: auto;
}
header #cart-icon:hover > #carrito a {
  display: flex;
  justify-content: center;
  flex-grow: 1;
  padding: 0.5rem 1rem;
  text-decoration: none;
  background-color: #741d51;
  color: white;
}

/******** PORTADA ********/
#portada {
  display: flex;
  /* Imagen portada: */
  background-image: url(images/hero.jpg);
  background-size: cover;
  background-position: center;
  height: 400px;
}
#portada .container {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 1rem;
}
#portada h1, #portada h5 {
  margin: 1rem 0;
}
#portada #barra_busqueda {
  display: flex;
  align-items: center;
  width: 100%;
}
#portada #barra_busqueda input {
  display: flex;
  flex-grow: 1;
  padding: 0.5rem;
}
#portada #barra_busqueda #lupa {
  margin-left: -2rem;
  height: 70%;
}
@media only screen and (min-width: 480px) {
  #portada #barra_busqueda {
    width: 400px;
  }
}

#label-portada {
  display: flex;
  background: linear-gradient(to right, #741d51, #e34d52);
}
#label-portada .container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}
#label-portada .container article {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
#label-portada .container article .icono_portada {
  width: 32px;
  margin: 1rem;
}
#label-portada .container article .texto_junto_a_icono {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  margin: 1rem;
}
@media only screen and (min-width: 768px) {
  #label-portada .container {
    flex-direction: row;
    justify-content: space-between;
  }
}

/********* MAIN *********/
main {
  display: flex;
  flex-direction: column;
  padding: 1rem;
}
main h2 {
  display: flex;
  align-self: center;
}
main #bloque-cursos {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
}
main #bloque-cursos .curso {
  display: flex;
  flex-direction: column;
  margin: 1rem 0;
  border: solid lightgray 0.5px;
  flex: 1 0 calc(100% - 1rem);
}
@media only screen and (min-width: 280px) {
  main #bloque-cursos .curso {
    flex: 1 0 calc(50% - 1rem);
  }
}
@media only screen and (min-width: 480px) {
  main #bloque-cursos .curso {
    flex: 0 0 calc(33.3333333333% - 1rem);
  }
}
@media only screen and (min-width: 768px) {
  main #bloque-cursos .curso {
    flex: 0 0 calc(25% - 1rem);
  }
}
main #bloque-cursos .curso img {
  width: 100%;
}
main #bloque-cursos .curso .texto-curso {
  display: flex;
  flex-direction: column;
  margin: 1rem;
}
main #bloque-cursos .curso .texto-curso h3, main #bloque-cursos .curso .texto-curso p, main #bloque-cursos .curso .texto-curso img, main #bloque-cursos .curso .texto-curso div {
  margin-bottom: 1rem;
}
main #bloque-cursos .curso .texto-curso img { /* estrellas */
  display: flex;
  align-self: flex-start;
}
main #bloque-cursos .curso .texto-curso #precios {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
main #bloque-cursos .curso .texto-curso #precios p {
  text-decoration: line-through;
}
main #bloque-cursos .curso .texto-curso .button {
  display: flex;
  justify-content: center;
  flex-grow: 1;
  padding: 0.5rem 1rem;
  text-decoration: none;
  background-color: #33c3f0;
  color: white;
}

/******** FOOTER ********/
footer {
  display: flex;
  background-color: black;
}
footer .container {
  display: flex;
  flex-grow: 1;
}
footer .container section {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding: 1rem;
}
footer .container section a {
  text-decoration: none;
  color: white;
}
@media only screen and (min-width: 768px) {
  footer .container section {
    flex: 0 0 25%;
  }
}/*# sourceMappingURL=style.css.map */