@import "variables.scss";
@import "mixins.scss";

/*** Reseteo de Propiedades ***/
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/************ LAYOUT  ************/
/************* display/position/float **************/
/******* height/width/padding/border/margin ********/

/****** CONTAINER *******/

/********* BODY *********/

/******** HEADER ********/

/********* NAV **********/

/********* MAIN *********/

/********* ASIDE ********/

/******** FOOTER ********/


/************ STYLE  ************/
/******************** Propiedades Generales *****************/


/****** CONTAINER *******/

/********* BODY *********/

/******** HEADER ********/

/********* NAV **********/

/********* MAIN *********/

/********* ASIDE ********/

/******** FOOTER ********/

