
// COLOR
$bg-portada-gradiente: linear-gradient(to right, #741d51, #e34d52);
$bg-footer: black;
$white-FontColor: white;

// 
$margin: 1rem;

// QUERY SIZES
$minWidthPhone: 280px;
$minWidthTablet: 480px;
$minWidthDesktop: 768px;
$maxWidthContent: 1200px;

// IMAGES
$img-portada: url(images/hero.jpg);




