@import "_variables.scss";
@import "_mixins.scss";

/*** Reseteo de Propiedades ***/
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*** BODY ***/
.container{
    max-width: $maxWidthContent;
    margin: auto;
}

body{
    display: flex;
    flex-direction: column;
}

/*** HEADER ***/
header{
    display: flex;
    justify-content: space-between;
}
#carrito{
    display: none;
}


/*** PORTADA ***/
#portada, #label-portada, footer{ /* Propiedades comunes */
    color: $font_WhiteColor;
}
#portada{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#barra_busqueda{
    display: flex;
    flex-direction: row;
}
#barra-busqueda input{
    display: flex;
    flex-grow: 1;
}
#lupa{
    margin-left: -$margin;
    height: 70%;
}

/*** LABEL PORTADA ***/


/*** MAIN ***/
#portada{
    background-image: url(images/hero.jpg);
    background-size: cover;
    background-position: center;
    height: 400px;
}
#label-portada{
    background: $bg-portada-gradiente;
}
.icono_portada{
    width: 32px;
}

/******** FOOTER ********/
footer{
    background-color: $bg-footer;
}