@mixin flex( $dir , $wrap , $just , $align ){
    display         : flex;
    flex-flow       : $dir $wrap;
    justify-content : $just;
    align-items     : $align;
}

@mixin tablet() {
    @media screen and (min-width:480px){
        @content;
    }
}
  
@mixin desktop() {
    @media screen and (min-width:768px){
        @content;
    }
}

@mixin resetCSS{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    vertical-align: baseline;
}