/*** Reseteo de Propiedades ***/
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;/*** Esto es para que si hay padding y border se incluya dentro del calculo (no se salga si pongo el % ajustado sin tener que tener en cuenta bordes)***/
}


/************ LAYOUT  ************/
/************* display/position/float **************/
/******* height/width/padding/border/margin ********/

/********* BODY *********/
header, main, footer{
    margin: auto;
    width: 100%;
    max-width: 760px;
    min-width: 760px;
}
/*** HEADER ***/
header{
    position: relative;
    float: center;
    padding-top: 80px;
}
#headerIZQ{
    position: relative;
    float: left;
    padding-left: 20px;
}
#headerIZQ p{
    margin-bottom: 10px;
}
#headerDCHA{
    position: relative;
    float: right;
    width: 30%;
    padding-right: 10px;
    padding-top: 20px;
}
#barra{
    position: relative;
    float: left;
    width: 80%;
    padding: 1% 5%;
}
/********* NAV **********/
nav{
    position: relative;
    float: left;
    width: 100%;
}
nav ul li{
    display: inline-block;
    padding: 1.5% 3.5%;
}
nav ul #aula{
    position: relative;
    float: right;
}
/********* MAIN *********/

/******* Portada *******/
/*#fotoInicio{
    margin-bottom: 5px; /********* margen *********/ /*
}*/
#fotoInicio p{
    position: absolute;
    margin-top: 65px;
    margin-left: 30px;
}
/******* Articulos *******/
#principal{
    position: relative;
    float: left;
    width: 70%;
}
#principal article:not(#p_ppal), #principal section{
    padding: 4% 3%;
}
#ppal_izq, #ppal_dcha{
    position: relative;
    float: left;
    width: 50%;
}
#principal time, #principal ul li{
    position: relative;
    float: left;
    padding-top: 4px;
}
#principal ul li{
    margin: 0 0.5%;
}
#artPpal{
    position: relative;
    float: left;
    width: 100%;
    margin-left: 15px;
}
#p_ppal p{
    position: relative;
    float: left;
    width: 100%;
    padding: 5%;
}
#art1, #art2, #art3{
    position: relative;
    float: left;
    width: 100%;
}
#art4, #miniaturas{
    position: relative;
    float: left;
    width: 100%;
}
#miniaturas img{
    margin: 1%;
}

/********* ASIDE *********/
aside{
    position: relative;
    float: right;
    width: 30%;
    border: solid red 1px;
}
/******** FOOTER *********/
footer{
    position: relative;
    float: left;
    padding: 20px;
}
#foot1{
    position: relative;
    float: left;
}
#foot2{
    position: relative;
    float: right;
}


/************ STYLE  ************/
/******************** Propiedades Generales *****************/
a{  /*a:link, a:visited, a:active*/
    text-decoration: none;
}
a:link, a:visited, a:active{
    text-decoration: none;
}
h1, h2, h3, h4, h5, h6 {
    font-weight:bold;
}
ul{
    list-style-type: none;
}
img, picture, video, iframe, figure{
    max-width: 100%;
    object-fit:cover; /* En el caso de poner altura a una imagen hace que se escale */
}

/********* BODY *********/
body{
    font-family:Verdana, Tahoma, sans-serif;
    background: linear-gradient(#004eb3, #88ade8);
}
/*** HEADER ***/
#headerIZQ h1{
    color: white;
    font-size: xx-large;
}
#headerIZQ p{
    color: #5bc0e9;
    font-size: smaller;
    margin-bottom: 10px;
}
/* Barra de búsqueda */
#lupa{
    position: relative;
    float: right;
}
#barra{
    background-color: #044979; /*#136188*/
    border: solid 1px #1777a5;
    color: white;
    border-radius: 1em;
}
input::placeholder {
    font-size: larger;
    color: #b4e2f0;
}
/********* NAV **********/
nav{
    background-color: #0f2132;
    color: white;
}
nav ul :hover{
    background-color: #0a1520;
}
nav a{
    color: white;
    font-size: smaller;
    font-weight: bold;
}
/********* MAIN *********/
main{
    background-color: white;
    overflow: hidden;
}
#fotoInicio p{
    color: #0f2132;
    font-size: larger;
}
.title{
    color: #136188;
}
#principal{
    color: #6e7273;
}
#principal p:not(.guion){
    font-size: small;
    line-height: 1.6;
}
#p_ppal p{
    background-color: #ecf8ff; /*#ecf8ff*/
    color: #136188;
    font-size: small;
}
#principal time, #principal ul li{
    font-size: x-small;
}
#principal time{
    color: #1aa4ee;
    font-weight: bold;
}
#principal ul li{
    color: #408020;
}
#principal ul li a{
    color: #408020;
    text-decoration: underline;
}
/*
#art1, #art2, #art3, #art4{
    color: #6e7273;
}

/********* ASIDE *********/
aside #contacto{
    font-size: 0.7em;
    font-weight: 600;
    line-height: 1.6;
}
aside #categorias, aside #archivo{
    font-size: 0.8em;
    line-height: 2;
}
aside h3{
    font-size: large;
    margin-bottom: 20px;
}
#contacto, #categorias, #archivo{
    padding: 5%;
}
#contacto img{
    float: left;
    height: 50px;
    padding: 2% 2% 4% 2%;
    margin-right: 5px;
    margin-bottom: 50px;
    border: #5bc0e9 solid 1px;
}
.title_aside{
    color: #408020;
}
#direccion{
    margin-bottom: 10px;
}
aside li{
    color: #136188;
    text-decoration: underline;
}
aside a{
    color: #136188;
    margin-left: 10px;
}



/******** FOOTER *********/
footer{
    background-color: #0f2132;
    color: #5a8da6;
    border: solid greenyellow 1px;
}
