/*** Reseteo de Propiedades ***/
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;/*** Esto es para que si hay padding y border se incluya dentro del calculo (no se salga si pongo el % ajustado sin tener que tener en cuenta bordes)***/
}

/************ LAYOUT  ************/
/************* display/position/float **************/
/******* height/width/padding/border/margin ********/

/********* BODY *********/

/****** CONTAINER *******/

/******** HEADER ********/

/********* MAIN *********/

/********* ASIDE ********/

/******** FOOTER ********/


/************ STYLE  ************/
/******************** Propiedades Generales *****************/

/********* BODY *********/
body{
    background: linear-gradient(#ff5e62, #ff9966);
}
/****** CONTAINER *******/

/******** HEADER ********/

/********* MAIN *********/

/********* ASIDE ********/

/******** FOOTER ********/