/*** Reseteo de Propiedades ***/
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;/*** Esto es para que si hay padding y border se incluya dentro del calculo (no se salga si pongo el % ajustado sin tener que tener en cuenta bordes)***/
}

/************ LAYOUT  ************/
/************* display/position/float **************/
/******* height/width/padding/border/margin ********/

/****** CONTAINER *******/
#contenedor{
    max-width: 1100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
}
/********* HEADER *********/
header{
    margin: 16px;
}
/********* MAIN *********/
main{
    display: flex;
    flex-direction: column;
}
article{
    display: flex;
    flex-direction: column;
    align-items: center;

    margin: 8px 0;
    padding-bottom: 8px;
}
article h3, article p, article a{
    text-align: center;
    margin: 8px;
}
img{
    max-width: 100%;
}


/************ STYLE  ************/
/******************** Propiedades Generales *****************/

p a, a{ /*a:link, a:visited, a:active*/
    text-decoration: none;
    color: #dd128d;
}
/********* BODY *********/
body{
    background-color: #f2f2f2;
}
/****** CONTAINER *******/
article{
    background-color: white;
}

/********* MAIN *********/
.boton{
    color: white;
    background-color: #0090d2;
    padding: 0.5em 2em;
}


/*** VERSIÓN TABLET ***/
@media (min-width: 468px){
    main{
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: flex-start;
    }
    article{
        flex-basis: calc((100%/2) - 8px);
    }
}

/*** VERSIÓN ESCRITORIO ***/
@media (min-width: 758px){
    article{
        flex-basis: calc((100%/3) - 8px);
    }
}